         :root { 
             --primary: #b3c; 
             --white: #fff; 
             --primary-light: #ebe; 
         } 
  
         * { 
             box-sizing: border-box; 
             text-align: center; 
             font-family: sans-serif; 
         } 
  
         body { 
             margin: 0; 
         } 
  
         h1 { 
             color: var(--primary); 
         } 
  
         button { 
             padding: 1rem 2rem; 
             background: var(--primary); 
             color: var(--white); 
             border-radius: 9px; 
             border: 0px solid var(--white); 
         } 
  
         #numberIn { 
             box-sizing: border-box; 
             border: 0.05rem solid var(--primary); 
             padding: 1rem 0rem; 
             border-radius: 9px; 
         } 
  
         #resultP { 
             padding: 1rem; 
             background: var(--primary-light); 
         } 
  
         header { 
             padding: 2rem; 
         } 
  
         footer { 
             border-top: 0.05rem solid var(--primary); 
         }
