:root {
    --primary: #b3c;
    --white: #fff;
    --primary-light: #ebe;
    --coal: #333;

    --light-radius: 0.6rem;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    color: var(--coal);
}

body {
    margin: 0;
}

h1 {
    color: var(--primary);
}

button {
    padding: 1rem 2rem;
    background: var(--primary);
    color: var(--white);
    border-radius: var(--light-radius);
    border: 0rem solid var(--white);
}

#number-el {
    box-sizing: border-box;
    border: 0.05rem solid var(--primary);
    padding: 1rem 0rem;
    border-radius: var(--light-radius);
}

#result-el {
    padding: 1rem;
    background: var(--primary-light);
}

header {
    padding: 2rem;
}

footer {
    border-top: 0.05rem solid var(--primary);
}
